[submodule "src/pdc_visualization"]
	path = src/pdc_visualization
	url = https://github.com/william-mx/pdc_visualization.git
[submodule "src/drive_manager"]
	path = src/drive_manager
	url = https://github.com/william-mx/drive_manager.git
	branch = main
[submodule "src/yolo_vision"]
	path = src/yolo_vision
	url = https://github.com/william-mx/yolo_vision.git
[submodule "src/mxck_interfaces"]
	path = src/mxck_interfaces
	url = https://github.com/william-mx/mxck_interfaces.git
	branch = main
[submodule "src/odometry"]
	path = src/odometry
	url = https://github.com/william-mx/odometry.git
[submodule "src/smart_parking"]
	path = src/smart_parking
	url = https://github.com/wiengel-hm/smart_parking.git
[submodule "src/vision_speed_guard"]
	path = src/vision_speed_guard
	url = https://github.com/william-mx/vision_speed_guard.git
[submodule "pilotnet"]
	path = pilotnet
	url = https://github.com/william-mx/pilotnet.git
[submodule "src/pilotnet"]
	path = src/pilotnet
	url = https://github.com/william-mx/pilotnet.git
